/**
 * ----------------------
 * Un.titled
 * Molecules - Forms
 * ----------------------
 */

input,
input[type='text'],
input[type='password'],
input[type='email'],
input[type='submit'],
textarea,
select {
  font-family: var(--fontBody);
  color: var(--c-primary);
  resize: none;
  padding: calc(var(--bump) / 2) var(--bump);
  -webkit-border-radius: 0px;
  border-radius: 0;
  outline: 0;
  border: 1px solid var(--c-primary);
  transition: all var(--transition);
  background-color: var(--c-white);

  &:focus {
    border: 1px solid var(--c-secondary);
  }
}

input[type='search'],
input[type='text'],
input[type='submit'] {
  -webkit-appearance: none;
}

.form-actions input,
input[type='submit'] {
  cursor: pointer;
}

button {
  appearance: none;
}

.js-form-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: calc(var(--bump) / 2);
}
